<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Spotify Project</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.scss.css') }}"/>
    <link rel="stylesheet" href="https://bulma.io/vendor/fontawesome-free-5.15.2-web/css/all.min.css">
</head>
<body>
<div id="app">
    <section class="hero is-primary is-success">
        <div class="hero-head">
            <nav class="navbar">
                <div class="container">
                    <div class="navbar-brand">
                        <a class="navbar-item" target="_blank" href="https://www.spotify.com/us/">
                            <img src="{{ url_for('static', filename='images/Spotify_Logo_RGB_Black.png') }}"
                                 alt="Spotify Logo" style="width:100px;height:600px;">
                        </a>
                    </div>
                    <div id="navbarlink" class="navbar-menu">
                        <div class="navbar-end">
                            <a class="navbar-item is-active" target="_blank"
                               href="https://open.spotify.com/playlist/0fCFwL8LJE99raQb1g2YvF?si=xKDqtJBVRrm8Llop7dvDNA">
                                <b style="color:black">Data Analysis Jamz Playlist</b>
                            </a>
                        </div>
                    </div>
                </div>
            </nav>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    Spotify Playlist
                </p>
                <p class="subtitle">
                    How does the music move you?
                </p>
                <p></p>
                <button class="button is-black" href="/data" role="button">Inspect Playlist</button>
            </div>
            </p>
        </div>

        <div class="hero-foot">
            <nav class="tabs">
                <div class="container">
                    <ul>
                        <li>
                            <a @click="changeActive('playlist')" class="navbar-item"
                               :class="{'is-active': playlistActive}">
                                <span class="icon is-small">
                                    <i class="fas fa-music" aria-hidden="true"></i>
                                </span>
                                <span>Playlist Results</span>
                            </a>
                        </li>
                        <li>
                            <a @click="changeActive('overview')" class="navbar-item"
                               :class="{'is-active': overviewActive}">
                                <span class="icon is-small">
                                    <i class="far fa-file-alt" aria-hidden="true"></i>
                                </span>
                                <span>Overview</span>
                            </a>
                        </li>
                        <!-- <li><a class="navbar-item">Genres Analysis</a></li> -->
                    </ul>
                </div>
            </nav>
        </div>
    </section>
    <div v-if="overviewActive" class="container is-max-widescreen py-6">
        <h1 class="title has-text-centered"><b>Overview</b></h1>
        <br>
        <p><b>Length</b> = The duration of the track in milliseconds.</p>
        <br>
        <p><b>Popularity</b> = The popularity of the artist. The value will be between 0 and 100, with 100 being the
            most popular.
            The artist’s popularity is calculated from the popularity of all the artist’s tracks.</p>
        <br>
        <p><b>Acousticness</b> = A confidence measure from 0.0 to 1.0 of whether the track is acoustic.
            1.0 represents high confidence the track is acoustic.</p>
        <br>
        <p><b>Danceability</b> = Danceability describes how suitable a track is for dancing based on a combination of
            musical elements including tempo, rhythm stability, beat strength, and overall regularity.
            A value of 0.0 is least danceable and 1.0 is most danceable.</p>
        <br>
        <p><b>Energy</b> = Energy is a measure from 0.0 to 1.0 and represents a perceptual measure of intensity and
            activity. Typically, energetic tracks feel fast, loud, and noisy.
            For example, death metal has high energy, while a Bach prelude scores low on the scale.
            Perceptual features contributing to this attribute include dynamic range, perceived loudness, timbre, onset
            rate, and general entropy.</p>
        <br>
        <p><b>Instrumentalness</b> = Predicts whether a track contains no vocals. “Ooh” and “aah” sounds are treated as
            instrumental in this context.
            Rap or spoken word tracks are clearly “vocal”. The closer the instrumentalness value is to 1.0, the greater
            likelihood the track contains no vocal content.
            Values above 0.5 are intended to represent instrumental tracks, but confidence is higher as the value
            approaches 1.0.</p>
        <br>
        <p><b>Liveness</b> = Detects the presence of an audience in the recording. Higher liveness values represent an
            increased probability that the track was performed live.
            A value above 0.8 provides strong likelihood that the track is live.</p>
        <br>
        <p><b>Loudness</b> = The overall loudness of a track in decibels (dB). Loudness values are averaged across the
            entire track and are useful for comparing relative loudness of tracks.
            Loudness is the quality of a sound that is the primary psychological correlate of physical strength
            (amplitude). Values typical range between -60 and 0 db.</p>
        <br>
        <p><b>Speechiness</b> = Speechiness detects the presence of spoken words in a track. The more exclusively
            speech-like the recording (e.g. talk show, audio book, poetry), the closer to 1.0 the attribute value.
            Values above 0.66 describe tracks that are probably made entirely of spoken words. Values between 0.33 and
            0.66 describe tracks that may contain both music and speech,
            either in sections or layered, including such cases as rap music. Values below 0.33 most likely represent
            music and other non-speech-like tracks.</p>
        <br>
        <p><b>Tempo</b> = The overall estimated tempo of a track in beats per minute (BPM). In musical terminology,
            tempo is the speed or pace of a given piece and derives directly from the average beat duration.</p>
        <br>
        <p><b>Time Signature</b> = An estimated overall time signature of a track. The time signature (meter) is a
            notational convention to specify how many beats are in each bar (or measure).</p>
        <br>
    </div>
    <div v-if="playlistActive" class="container-fluid">
        <section class="section">
            <div class="field is-grouped columns is-centered">
                <div class="control column is-narrow">
                    <label for="xAxisSelect" class="label">X-Axis</label>
                    <div class="select is-primary">
                        <select id="xAxisSelect" v-model="x">
                            <option v-for="axis in axes"
                                    :key="'x-' + axis"
                                    :value="axis"
                                    :disabled="axis == y">{( toTitleCase(axis) )}
                            </option>
                        </select>
                    </div>
                </div>
                <div class="control column is-narrow">
                    <label for="yAxisSelect" class="label">Y-Axis</label>
                    <div class="select is-primary">
                        <select id="yAxisSelect" v-model="y">
                            <option v-for="axis in axes"
                                    :key="'y-' + axis"
                                    :value="axis"
                                    :disabled="axis == x">{( toTitleCase(axis) )}
                            </option>
                        </select>
                    </div>
                </div>
            </div>
            <ul class="columns is-centered">
                <li v-for="user in users" :key="user.id" class="column is-narrow">
                    <label class="checkbox">
                        <input type="checkbox" v-model="user.active">
                        {( user.name )}
                    </label>
                </li>
            </ul>
            <h1 class="title has-text-centered"><b>Playlist Results</b></h1>
            <div class="columns is-centered is-vcentered">
                <div v-if="loading" class="column">
                    <spinner/>
                </div>
                <div v-else-if="error" class="column">
                    <error-message/>
                </div>
                <div v-else class="column">
                    <scatter :tracks="tracks" :x="x" :y="y" :users="users"/>
                </div>
            </div>
        </section>
    </div>
</div>

<!--    <iframe src="https://open.spotify.com/embed/playlist/0fCFwL8LJE99raQb1g2YvF" width="300" height="380" frameborder="0" allowtransparency="true" allow="encrypted-media"></iframe>-->
<script src="https://d3js.org/d3.v5.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/d3-tip/0.9.1/d3-tip.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>

<script src="{{ url_for('static', filename='js/scatter.js') }}"></script>
<script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>

</html>
